In [1]:
import pandas as pd
from functions import trim_and_lower

In [7]:
tours_path = "../data/clean/tours.csv"
tours_df = pd.read_csv(tours_path)
tours_df = trim_and_lower(tours_df)
tours_df = tours_df.set_index("year", drop=False)
tours_df.head()
tours_df.dtypes
print(tours_df.shape)
tours_df.year.unique()

(109, 6)

array([1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913,
       1914, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928,
       1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939,
       1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957,
       1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968,
       1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979,
       1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022])

In [8]:
winners_path = "../data/clean/winners.csv"
winners_df = pd.read_csv(winners_path)
winners_df = trim_and_lower(winners_df)
winners_df = winners_df.set_index("year", drop=False)
winners_df.head()
winners_df.dtypes
print(winners_df.shape)
winners_df.year.unique() # winners_df is missing years 1999-2005

(102, 11)

array([1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913,
       1914, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928,
       1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939,
       1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957,
       1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968,
       1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979,
       1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 2021, 2022])

In [10]:
df = tours_df.join(winners_df, how="left", rsuffix="_x")
df.head()

,year,stages,starters,finishers,miles,km,year_x,country,rider,team,time,stages_won,stages_led,height,weight,born,age
year,,,,,,,,,,,,,,,,,
1903,1903,6,60,21,1509.0,2428.0,1903.0,france,maurice garin,la française,"[94, 33, 14]",3.0,6.0,1.62,60.0,1871.0,32.0
1904,1904,6,88,15,1509.0,2428.0,1904.0,france,henri cornet,conte,"[96, 5, 55]",1.0,3.0,1.86,62.0,1884.0,20.0
1905,1905,11,60,24,1860.0,2994.0,1905.0,france,louis trousselier,peugeot–wolber,"[0, 0, 0]",5.0,10.0,1.86,62.0,1881.0,24.0
1906,1906,13,82,14,2881.0,4637.0,1906.0,france,rené pottier,peugeot–wolber,"[0, 0, 0]",5.0,12.0,1.86,62.0,1879.0,27.0
1907,1907,14,93,33,2789.0,4488.0,1907.0,france,lucien petit-breton,peugeot–wolber,"[0, 0, 0]",2.0,5.0,1.86,62.0,1882.0,25.0

In [13]:
df.year_x.isna().sum()

7